@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff2")format("woff2"), url("../fonts/roboto.woff")format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotobold.woff2")format("woff2"), url("../fonts/robotobold.woff")format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotomedium.woff2")format("woff2"), url("../fonts/robotomedium.woff")format("woff");
  font-weight: 500;
  font-style: normal;
}

/*variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --main-contant: #283136;
  --footer-content: #444444;
  --popup-content: #666666;
  --selection-grey: #4d4d4d;
  --basic-grey: #eeeeee;
  --basic-red: #fb565a;
  --hover-red: #e74246;
  --active-red: #d7373b;
  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;
  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --active-yellow: #e5a722;
  --icon-social: #e1e1e1;
  --icon-grey: #a6a6a6;
  --stroke-grey: #d7dcde;
  --hover-grey: #dfdfdf;
  --active-grey: #d5d5d5;
}

/*global*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-contant);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.invisible {
  display: none;
}

.button {
  background: var(--basic-red);
  border-radius: 3px;
  text-decoration: none;
  color: var(--basic-white);
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
  color:rgba(0, 0, 0, 0.3);
}

/*grid*/

.page {
  height: 100%;
}

/*outline удалить*/
/*
.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-logo {
  outline: 5px solid rgba(6, 31, 71, 0.7);
  outline-offset: -5px;}

.main-navigation-wrapper {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.user-navigation {
  outline: 5px solid rgba(255, 0, 212, 0.7);
  outline-offset: -5px;
}

.feature {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.feature-container {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.slider {
  outline: 5px solid rgba(6, 31, 71, 0.7);
  outline-offset: -5px;}

.slider-list {
  outline: 5px solid rgba(6, 31, 71, 0.7);
  outline-offset: -5px;}

.page-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}
*/


/*main navigation*/

.main-header {
  background-color: var(--basic-grey);
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  }

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a, .user-navigation a {
  color: var(--basic-black);
  text-decoration: none;
  font-weight: 500;
}

.site-navigation a:hover, .user-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active, .user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/*feature*/

.feature-container {
background-color: var(--basic-grey);
box-sizing: border-box;
border: 7px solid var(--basic-grey);
}

.slider-list {
  list-style: none;
}

.feature-motto {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-switch {
  list-style: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.slider-list {
  padding: 0;
}

/*services*/

.service-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button.green-button {
  background-color: var(--basic-green);
}

.button.green-button:hover {
  background-color: var(--hover-green);
}

.button.green-button:active {
  background-color: var(--active-green);
  color:rgba(0, 0, 0, 0.3)
}

.button.yellow-button {
  background-color: var(--basic-yellow);
}

.button.yellow-button:hover {
  background-color: var(--hover-yellow);
}

.button.yellow-button:active {
  background-color: var(--active-yellow);
  color:rgba(0, 0, 0, 0.3)
}

/*about-us*/
.about-us {
display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-us-discription {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-us-title {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-us-list {
  list-style: none;
}

/*assurances*/

.assurances-legend {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.assurances-value td:nth-child(odd) {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.assurances-value td:nth-child(even) {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

/*partners*/

.partners-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*footer*/

.map {
  margin: 0 -140px;
}

/*sociai*/

.social-icons {
  list-style: none;
}

.friendship {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.social-icon a {
  display: none;
}

.social-icon {
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.social-icon:first-child {
  background: var(--icon-social) url("../img/main/vk-icon.png") no-repeat center;
}

.social-icon:nth-child(2) {
  background: var(--icon-social) url("../img/main/fb-icon.png") no-repeat center;
}

.social-icon:last-child {
  background: var(--icon-social) url("../img/main/insta-icon.png") no-repeat center;
}

.social-icon:hover {
  background-color: var(--hover-red);
}

.social-icon:active {
  background-color: var(--active-red);
}

.friendship-offer {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black)
}

.friendship-discount {
  line-height: 22px;
  color: var(--footer-content);
}

/*Catalog*/

.catalog-page .main-header {
  background-color: var(--basic-grey);
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
}

.template-price, .template-grid, .template-features {
  border: none;
}

.template-price {
  text-transform: uppercase;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.price-range {
  background-color: var(--basic-grey);
}

.template-filter ul {
  list-style: none;
  line-height: 19px;
}

.grid-item:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  color: var(--selection-grey);
  opacity: 0.4;
  border: 4px solid var(--selection-grey);
  border-radius: 50%;
  }

  .radio:checked + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--selection-grey);
  opacity: 0.4;
  border-radius: 50%;
  }

  .radio:disabled + label:before {
    color:rgba(40, 49, 54, 0.4);
  }

.features-item:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  color: var(--selection-grey);
  opacity: 0.4;
  border: 4px solid var(--selection-grey);
  }

  .checkbox:checked + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--selection-grey);
  opacity: 0.4;
  }

.grey-button {
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: 500;
}

.grey-button:hover {
  background-color: var(--hover-grey);
}

.grey-button:active {
  background-color: var(--active-grey);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.filter-type, .filter-course {
  list-style: none;
}

.filter-type a, .filter-course a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.filter-type a:hover, .filter-course a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.filter-type a:active, .filter-course a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 14px;
}

.template-list {
  list-style: none;
}

.template-container {
  width: 360px;
  height: 620px;
  border: 1px solid var(--basic-grey);
  background: var(--basic-grey) url("../img/catalog/browser.png") no-repeat 0px top;
}

.template-container img {
  padding-top: 40px;
}

.page-list {
  list-style: none;
}
.page-item a {
  text-decoration: none;
}
