@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff2")format("woff2"), url("../fonts/roboto.woff")format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotobold.woff2")format("woff2"), url("../fonts/robotobold.woff")format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotomedium.woff2")format("woff2"), url("../fonts/robotomedium.woff")format("woff");
  font-weight: 500;
  font-style: normal;
}

/*variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;

  --basic-grey: #eeeeee;
  --main-content: #283136;
  --footer-content: #444444;
  --map-content: #666666;
  --selection-grey: #4d4d4d;
  --hover-grey: #dfdfdf;
  --active-grey: #d5d5d5;
  --icon-social: #e1e1e1;
  --icon-grey: #a6a6a6;
  --icon-active-grey: #231f20;
  --active-item: #dbdbdb;
  --shaddow-grey: #d7dcdf;
  --forms-grey: #d7dcde;
  --forms-grey-hover: #b4b9bb;
  --dark-shaddow-grey: #ababab;
  --button-border-grey: #c1c1c1;
  --background-grey: #f2f2f2;


  --basic-black-opacity-06: rgba(0, 0, 0, 0.6);
  --basic-black-opacity-03: rgba(0, 0, 0, 0.3);
  --basic-black-opacity-01: rgba(0, 0, 0, 0.1);
  --basic-white-opacity-06: rgba(255, 255, 255, 0.6);
  --basic-white-opacity-03: rgba(255, 255, 255, 0.3);
  --selection-grey-opacity-01: rgba(77, 77, 77, 0.1);
  --selection-grey-opacity-04: rgba(77, 77, 77, 0.4);
  --selection-grey-opacity-012: rgba(77, 77, 77, 0.12);
  --main-content-opaciti-04: rgba(40, 49, 54, 0.4);
  --button-shaddow: rgba(0, 1, 1, 0.1);
  --popup-shaddow: rgba(0, 0, 0, 0.4);
  --filter-shaddow: rgba(0, 0, 0, 0.15);

  --basic-red: #fb565a;
  --hover-red: #e74246;
  --active-red: #d7373b;

  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;

  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --active-yellow: #e5a722;
}

/*global*/

.page {
  height: 100%;
}

.page-body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-content);
  min-height: 100%;
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.invisible {
  display: none;
}

/*header*/

.main-header {
  background-color: var(--basic-grey);
}
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 110px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.logo-nerds {
  object-fit: contain;
  padding-top: 49px;
}

.logo-nerds-image {
  display: block;
  margin: 0;
  padding: 0;
}

.logo-nerds:hover {
  opacity: 0.7;
}

.logo-nerds:active {
  opacity: 0.3;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 440px;
  justify-content: center;
}

.navigation-item {
  display: flex;
  margin-top: 75px;
  margin-right: 45px;
  height: 30px;
  padding-bottom: 13px;
  position: relative;
  box-sizing: border-box;
}

.user-basket {
  display: flex;
  margin-top: 75px;
  position: relative;
  padding-left: 40px;
}

.navigation-item-current {
  border-bottom: 2px solid var(--basic-red);
}

.navigation-item-link {
  text-decoration: inherit;
  color: inherit;
}

.navigation-item-link:hover {
  color: var(--basic-red);
}

.navigation-item-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-basket::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/main/basket-icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 7px;
}

/*footer*/

.map-contacts {
  position: relative;
  z-index: 3;
}
.contacts {
  position: absolute;
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  margin: 54px 0px;
  padding: 49px 50px 47px;
  line-height: 18px;
}

.contacts-title {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.contacts-adress {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin: 23px 0 18px;
  color: var(--map-content);
}

.contacts-phone-number {
  color: var(--map-content);
  text-decoration: none;
}

.contacts-button {
  width: 219px;
  height: 50px;
  background-color: var(--basic-red);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 37px 0 47px;
}

.contacts-button-link {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-button:hover {
  background-color: var(--hover-red);
}

.contacts-button:active {
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

.contacts-button:active .contacts-button-link {
  opacity: 0.3;
}

.map-image-view {
  width: 100%;
  height: auto;
}

.map-image-wrapper {
  position: relative;
}

.map-image-marker {
  width: 16%;
  height: 46%;
  position: absolute;
  z-index: 5;
  left: 57%;
  top: 20%;
}

.friendship {
  min-height: 217px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 68px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-icon-wrapper {
  width: 81px;
  height: 81px;
  margin-right: 9px;
  border-radius: 50%;
  background-image: linear-gradient(0deg, var(--icon-social), var(--icon-social));
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-wrapper:hover {
  background-image: linear-gradient(0deg, var(--hover-red), var(--hover-red));
}

.social-icon-wrapper:active {
  background-image:linear-gradient(0deg, var(--active-red), var(--active-red));
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

.social-icon-wrapper:active .social-icon {
  opacity: 0.3;
}

.friendship-motto {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 75px 0 10px;
}

.friendship-discount {
  color: var(--footer-content);
  line-height: 18px;
}

/*modal*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--footer-content);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--popup-shaddow);
  z-index: 15;
  box-shadow: 0px 20px 40px var(--popup-shaddow);
  width: 30%;
  height: 30%;
}

/*modal-feedback*/

.modal-feedback {
  width: 960px;
  height: 590px;
  bottom: 180px;
  top: auto;
}

.feedback-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  margin: 63px 0 37px 100px;
}

.feedback-form {
  margin: 0 99px 84px 100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.feedback-item {
  width: 360px;
  height: 77px;
  margin: 0 40px 34px 0;
  display: flex;
  flex-wrap: wrap;
}

.feedback-item:nth-child(even) {
  margin-right: 0;
}

.label-feedback-field {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-black);
  margin-bottom: 9px;
}

.feedback-field {
  width: 360px;
  height: 50px;
  padding-left: 16px;
}

.feedback-textarea {
  width: 760px;
  height: 118px;
  padding: 16px;
}

.feedback-field, .feedback-textarea {
  color: var(--footer-content);
  opacity: 0.5;
  border: 2px solid var(--forms-grey);
  box-sizing: border-box;
  border-radius: 3px;
}

.feedback-field:hover,
.feedback-textarea:hover {
  border-color: var(--forms-grey-hover);
  opacity: 0.5;
}

.feedback-field:focus,
.feedback-textarea:focus {
  border-color: var(--basic-black);
  opacity: 1;
}

.feedback-field:invalid,
.feedback-textarea:invalid {
  border-color: var(--hover-red);
  color: var(--hover-red);
  opacity: 1;
}

.button-feedback-send {
  width: 259px;
  height: 50px;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
}

.button-feedback-send:hover {
  border: none;
  background-color: var(--hover-red);
}

.button-feedback-send:active {
  border: none;
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

.modal-close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 54px;
  right: 90px;
  border: none;
  background-color: var(--basic-white);
  background-image: url("../img/main/close-cross.svg");
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

/*main-page*/

/*section-feature*/

.feature-wrapper {
  background-color: var(--basic-grey);
}

.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  display: grid;
  grid-template-columns: 397px 760px;
}

.feature-context {
  z-index: 5;
}

.feature-motto {
  width: 520px;
  height: 110px;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 78px;
  margin-bottom: 25px;
}

.feature-mission {
  width: 420px;
}

.feature-button {
  width: 240px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  margin-top: 40px;
}

.feature-button-link {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
  margin: auto;
}

.feature-button:hover {
  background-color: var(--hover-red);
}

.feature-button:active {
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

.feature-button:active .feature-button-link {
  opacity: 0.3;
}

.slider-control {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 536px;
  bottom: 95px;
  min-width: 88px;
  height: 18px;
}

.slider-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 17px;
  padding: 0;
}

.slider-button-current::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid var(--button-border-grey);
  box-sizing: border-box;
  border-radius: 50%;
  margin: auto;
}

/*section-services*/

.services {
  padding: 81px 0;
  border-bottom: 2px solid var(--basic-grey);
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-item-title {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 18px 0 16px;
}

.service-result {
  width: 255px;
  height: 48px;
}

.servise-button {
  width: 160px;
  height: 50px;
  margin-top: 32px;
  border-radius: 3px;
  display: flex;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.service-button-red {
  background-color: var(--basic-red);
}

.service-button-red:hover {
  background-color: var(--hover-red);
}

.service-button-red:active {
  background-color: var(--active-red);
  color: var(--basic-white-opacity-03);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

.service-button-green {
  background-color: var(--basic-green);
}

.service-button-green:hover {
  background-color: var(--hover-green);
}

.service-button-green:active {
  background-color: var(--active-green);
  color: var(--basic-white-opacity-03);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

.service-button-yellow {
  background-color: var(--basic-yellow);
}

.service-button-yellow:hover {
  background-color: var(--hover-yellow);
}

.service-button-yellow:active {
  background-color: var(--active-yellow);
  color: var(--basic-white-opacity-03);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

/*section-about-us*/

.about-us {
  display: grid;
  grid-template-columns: 650px 360px;
  column-gap: 150px;
  border-bottom: 2px solid var(--basic-grey);
}

.about-us-information {
  padding: 72px 0 32px;
}

.about-us-discription {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0;
}

.about-us-principles {
  width: 646px;
  margin-top: 32px;
  line-height: 26px;
}

.about-us-services-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: inherit;
  line-height: inherit;
  color: var(--basic-black);
  margin: 38px 0 24px;
}

.about-us-service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-service-item {
  position: relative;
  margin-left: 36px;
  margin-bottom: 24px;
}

.about-us-service-item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  left: -36px;
  top: 10px;
}

.assurances {
  padding: 38px 0 74px;
}

.assurances-table {
  border-collapse: collapse;
}

.assurances-table td:nth-child(2){
  padding-left: 16px;
}

.assurances-table td:nth-child(3){
  padding-left: 20px;}

.assurances-item td {
  padding-top: 10px;
}

.assurances-legend {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 30px;
}

.assurances-value {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.assurances-sup {
  vertical-align: super;
  font-size: 26px;
  line-height: 40px;
}

.assurances-item {
  line-height: 18px;
}

/*section-partners*/

.partners {
  border-bottom: 2px solid var(--basic-grey);
  margin-bottom: 80px;
}

/*
.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 254px 298px 298px 279px;
  grid-template-rows: 180px;
}*/
/*
* {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}
*/
.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;


}

.partners-item {
 padding: 0 30px;
  display: flex;

}

.logo-partners img {
  display: block;
}

.logo-partners {
  margin: auto;
  opacity: 0.2;
}

.logo-partners:hover {
  opacity: 1;
}

.logo-partners:active {
  opacity: 0.1;
}

.partners-item:not(:first-child)::before {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
  margin: auto;
}


/*catalog-page*/

.catalog-title {
  background-color: var(--basic-grey);
  margin: 0;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 108px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: auto 760px;
}

/*section-filtres*/

.filters {
  grid-row: 1 /3;
  width: 260px;
}

.filter-field {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-title {
font-weight: 700;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
margin: 0;
padding: 0;
}

.filter-price {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}

.price-range {
  width: 260px;
  height: 80px;
  margin: 48px 0 14px;
  background-color: var(--basic-grey);
  border-radius: 3px;
  position: relative;
}

.price-scale {
  width: 205px;
  height: 2px;
  background-color: var(--shaddow-grey);
  position: absolute;
  left: 33px;
  top: 39px;
}

.price-bar {
  width: 138px;
  height: 2px;
  background-color: var(--basic-green);
}

.toggle {
  width: 4px;
  height: 4px;
  background-color: var(--icon-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px var(--filter-shaddow);
  position: absolute;
  top: 30px;
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  margin-top: 14px;
  line-height: 22px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.min-price,
.max-price {
  width: 80px;
  height: 38px;
  background-color: var(--basic-grey);
  border-radius: 3px;
  margin-left: 11px;
  text-align: center;
  border: 1px solid var(--basic-grey);
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.filter-item {
  margin-left: 36px;
  margin-bottom: 20px;
  line-height: 20px;
  position: relative;
}

.filter-grid {
  margin-top: 54px;
}

.filter-features {
  margin-top: 27px;
}

.input-switch-radio + label::before {
  content: "";
  width: 25px;
  height: 25px;
  color: var(--selection-grey);
  opacity: 0.4;
  border: 4px solid var(--selection-grey);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  left: -36px;
  top: -3px;
}

.input-switch-radio:checked + label::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--selection-grey);
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  left: -28px;
  top: 5px;
}

.input-switch-checkbox + label::before {
  content: "";
  width: 23px;
  height: 23px;
  color: var(--selection-grey);
  opacity: 0.4;
  border: 4px solid var(--selection-grey);
  border-radius: 3px;
  box-sizing: border-box;
  position: absolute;
  left: -36px;
  top: -3px;
}

.input-switch-checkbox:checked + label::after {
  content: "";
  width: 20px;
  height: 16px;
  background: url(../img/catalog/checkbox.svg);
  opacity: 0.4;
  position: absolute;
  left: -30px;
  top: -1px;
}

.input-switch:hover + label::before {
  opacity: 1;
}

.input-switch + label,
.input-switch + label::before,
.input-switch + label::after {
  cursor: pointer;
}

.input-switch:checked + label::before,
.input-switch:checked + label::after {
  opacity: 0.4;
}

.input-switch:checked:hover + label::before,
.input-switch:checked:hover + label::after {
  opacity: 1;
}

.input-switch:disabled + label  {
  color: var(--selection-grey);
  opacity: 0.3;
}

.filter-template-button {
  width: 100%;
  height: 50px;
  background-color: var(--basic-grey);
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.filter-template-button:hover {
  background-color: var(--hover-grey);
}

.filter-template-button:active {
  background-color: var(--active-grey);
  color: var(--basic-black-opacity-03);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

/*section-sorting*/

.sorting {
  display: flex;
  justify-content: space-between;
  margin: 55px 0 48px;
}
.sorting-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color:  var(--basic-black);
  margin: 0;
  padding: 0;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sorting-item-type {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-right: 25px;
  opacity: 0.3;
}

.sorting-item-type:hover {
  opacity: 0.6;
}

.sorting-item-type:active, .activ-type {
  opacity: 1;
}

.sorting-item:nth-child(4) {
  padding: 0 18px 0px 22px;
}

.sort-direction .sort-direction-path
{fill: var(--icon-grey);
  opacity: 0.3;
}

.sort-direction:hover .sort-direction-path
{fill: var(--icon-grey);
  opacity: 0.6;
}

.sort-direction:active .sort-direction-path,
.active-direction .sort-direction-path
{
  fill: var(--icon-active-grey);
  opacity: 1;
}

/*section-template*/

.template-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.template-item {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 360px;
  height: 580px;
  position: relative;
}

.template-item:nth-of-type(odd) {
  margin-right: 40px;
}

.template-item-image {
  width: 100%;
  border: 1px solid var(--basic-black-opacity-01);
  box-sizing: border-box;
  background-color: var(--background-grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.template-item::before {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 40px;
  background-image: url("../img/catalog/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
  position: absolute;
  top: -40px;
}

.template-item:hover .template-item-image {
  border: none;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25))
}

.template-item:hover::before {
    opacity: 1;
}

.template-item-info {
  max-width: 100%;
  height: 161px;
  background-color: var(--basic-grey);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 26px 53px 44px 52px;
  margin-bottom: 2px;
  cursor: default;
}

.template-item-info a {
  text-decoration: none;
}

.template-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.template-item-title:hover {
 color: var(--basic-red);
 cursor: pointer;
}

.template-item-title:active {
 color: var(--basic-black);
 opacity: 0.3;
 cursor: pointer;
}

.template-item-text {
  margin: 12px 0 32px;
  text-align: center;
  line-height: 18px;
  color: var(--map-content);
}

.template-item-button {
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  cursor: pointer;
}

.template-item-button:hover {
  border: none;
  background-color: var(--hover-red);
}

.template-item-button:active {
  border: none;
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

.template-item:not(:hover) .template-item-info {
  display: none;
}


/*pagination*/

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 60px;
  padding: 0;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 11px;
  text-align: center;
  background-color: var(--basic-grey);
  border-radius: 3px;
  display: flex;
  cursor: pointer;
}

.pagination-item-next {
  width: 260px;
  margin-right: 0;
}

.page-current {
  border: 3px solid var(--active-item);
  box-sizing: border-box;
  background-color: var(--basic-white);
}

.pagination-link {
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 500;
  line-height: 18px;
}

.pagination-item:hover {
  background-color: var(--hover-grey);
}

.pagination-item:active {
  background: var(--active-grey);
  box-shadow: inset 0px 3px 0px var(--button-shaddow);
}

.pagination-item:active .pagination-link {
  opacity: 0.3;
}

/*
* {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}

*/
